{% extends "./base1.html" %}

{% block main %}
  <main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">
     
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h4">Booking List
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dot/">Home</a></li>
            <li class="breadcrumb-item">Booking List</li>
          </ol></h1>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-toolbar mb-2 mb-md-0">
              {% if perms.dot_app.add_hotel %}
                <div class="btn-group me-2">
                  <a href="/dot/addfacility/"><button type="button" class="btn btn-sm">Add Facility</button></a>
                </div>
                {% endif %}
              </div>
        </div> -->
      </div>
      
      <div class="table-responsive card rounded-1 border-0 shadow mt-4 mb-4">
            <h5 class="text-uppercase fw-bold mb-0 p-4 pt-3 pb-3">Booking List</h5>
            <table id="example" class="table table-striped table-sm">
            
              <thead>
                <tr> 
                  <th scope="col">CUSTOMER NAME</th>
                  <th scope="col">TITLE</th>                             
                  <th scope="col">BOOKING TYPE</th>
                  <th scope="col">FROM</th>
                  <th scope="col">TO</th>
                  <th scope="col">CREATED DATE</th>
                  <th scope="col">STATUS</th>
                </tr>
              </thead>
              {% for x in c_booking %}
              <tbody>
                <tr>
                    <td >{{x.cust.name}}</td> 
                    <td >{{x.title}}</td>
                    <td >{{x.bking_type}}</td>                       
                    <td >{{x.bk_from}}</td> 
                    <td >{{x.bk_to}}</td> 
                    <td >{{x.created}}</td> 
                    <td >{{x.status}}</td> 

        <!-- <td>
          <div class="btn-group me-2">
            <a href="/dot/edit_hotel/?a={{x.id}}"><button type="button" class="btn btn-primary">Approve</button> </a>
          </div> 
        </td> -->
        <td>
          <div class="btn-group me-2">
            {% if x.status == "pending" %} 
            <a href="/dot/approvebooking/?a={{x.id}}"><button type="button" class="btn btn-primary">Approve</button> </a>
            {% elif x.status == 'approved' %}
            <button class="btn btn-primary" type="submit" onclick="orderpacked('{{x.id}}')">Order Packed</button>
            {% elif x.status == 'packed' %}
            <button class="btn btn-primary" type="submit" onclick="orderondelivery('{{x.id}}')">On Delivery</button>
            {% elif x.status == 'ondelivery' %}
            <button class="btn btn-primary" type="submit" onclick="orderdelivered('{{x.id}}')">Delivered</button>
            {% endif %}           
          </div>
        </td>
        <td>
          <div class="btn-group me-2">
            <a href="/dot/deletebooking/?a={{x.id}}"><button class="btn-link border-0 bg-transparent text-body" ><span data-feather="trash-2" ></span></button> </a>
           
            <!-- <button class="btn-link border-0 bg-transparent text-body" type="submit" onclick="delete_hotel('{{x.id}}')"><span data-feather="trash-2" ></span></button> -->
          </div>
        </td>
                </tr>
              </tbody>
              {% endfor %}
            
            </table>
      </div>   
     
  </main>
{% endblock %}  