{% extends "./base1.html" %}

{% block main %}
  <main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">
     
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h4">Booking List
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dot/">Home</a></li>
            <li class="breadcrumb-item">Booking List</li>
          </ol></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-toolbar mb-2 mb-md-0">
              {% if perms.dot_app.add_hotel %}
                <div class="btn-group me-2">
                  <a href="/dot/exportbookinglist/"><button type="button" class="btn btn-sm">Export</button></a>
                </div>
                {% endif %}
              </div>
        </div>
      </div>
      
      <div class="table-responsive card rounded-1 border-0 shadow mt-4 mb-4">
            <h5 class="text-uppercase fw-bold mb-0 p-4 pt-3 pb-3">Booking List</h5>
            <form method="post" action="/dot/approvebooking/" enctype="multipart/form-data" >{% csrf_token %}
            <table id="example" class="table table-striped table-sm">
            
              <thead>
                <tr> 
                  <th scope="col">CUSTOMER</th>
                  <th scope="col">TITLE</th>                             
                  <th scope="col">BOOKING TYPE</th>
                  <th scope="col">FROM</th>
                  <th scope="col">TO</th>
                  <th scope="col">CREATED DATE</th>
                  <th scope="col">UPDATED DATE</th>
                  <th scope="col">STATUS</th>
                  <th> <input type="checkbox" name="checkallv" class="checkall" value="1"></th>
                </tr>
              </thead>
              <tbody>
                {% for x in c_booking %}
                <tr>
                    <td >{{x.cust.name}}</td> 
                    <td >{{x.title}}</td>
                    <td >{{x.bking_type}}</td>                       
                    <td >{{x.bk_from}}</td> 
                    <td >{{x.bk_to}}</td> 
                    <td >{{x.created}}</td> 
                    <td >{{x.updated}}</td> 
                    <td >{{x.status}}</td> 
                    <td>
                      <input type="checkbox" name="checkbook " class="bulklv checkme" value="{{x.id}}">
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <div class="row">    
              <div class="btn-group me-2 d-flex p-2 ">
                <div class="btn-toolbar mb-2 mb-md-1 justify-content-end ">
                  

                  <div class="ps-3"><button type="submit" class=" btn btn-primary" name="approve" value="approve" >Approve</button></div>
                  <div class="ps-3"><button type="submit" class=" btn btn-primary" >Delete</button></div>
                </div>
              </div>
            </div> -->
            <!-- <a href="/dot/edit_destinationarea/?a={{x.id}}"><button class="btn btn-primary" >Approve</button></a> -->
            {% if perms.dot_app.change_booking %}
            <div style="border-top:1px solid #ccc; margin-top: 50px; padding: 5px;">
              <div class="row float-end">
                <div class="col-md-12 ">
                  <button type="submit" class=" btn btn-primary" name="approve" value="approve" >Approve</button>
                  {% if perms.dot_app.delete_booking %}
                  <button type="submit" class=" btn btn-primary" >Delete</button>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
          </form>
    </div>   

  </main>
{% endblock %}  