{% extends "./base1.html" %}

{% block main %}
  <main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">
     
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h4">Content List
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dot">Home</a></li>
            <li class="breadcrumb-item">Content List</li>
          </ol></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-toolbar mb-2 mb-md-0">
              
                <div class="btn-group me-2">
                  <a href="/dot/addcontent/"><button type="button" class="btn btn-sm">Add Content</button></a>
                </div>
                
              </div>
        </div>
      </div>



      <div class="table-responsive card rounded-1 border-0 shadow mt-4 mb-4">
            <h5 class="text-uppercase fw-bold mb-0 p-4 pt-3 pb-3">Content List</h5>
            <table id="example" class="table table-striped table-sm">
              {% if messages %}
                  <div class="alert alert-danger">
                      {% for message in messages %}
                          {% if message.tags == "error" and message.message == "You are not autherized to edit !!!!" %}
                              {{ message }}
                          {% endif %}
                      {% endfor %}
                  </div>
              {% endif %}
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Content Type</th>
                  <th scope="col">Title</th>
                  <th scope="col">Page</th>
                  <th scope="col">Path </th>
                  <th scope="col">Body</th>
                  <th scope="col">Image</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Updated Date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              {% for x in content_list %}
              <tbody>
                <tr>
                    <td >{{x.id}}</td>
                    <td >{{x.content_type}}</td>
                    <td >{{x.title}}</td>
                    <td >{{x.page}}</td>
                    <td >{{x.path}}</td>
                    <td >{{x.body|truncatechars:40}}</td>
                    <td class="pic"> <img  src="{{x.image.url}}" alt="" style="width:50px;height:60px;" ></td>
                    <td >{{x.created}}</td>
                    <td >{{x.updated}}</td>
                    <td >{{x.status}}</td>     
                    <td>         
                      <div class="btn-group me-2">
                        <a href="/dot/editcontent/?a={{x.id}}"><button class="btn-link border-0 bg-transparent text-body" ><span data-feather="edit-2"></span></button> </a>
                      </div> 
                    </td> 
                    {% if perms.dot_app.change_destination_area %}  
                    {% endif %} 
                   
                    <td>            
                      <div class="btn-group me-2">
                        <a href="/dot/deletecontent/?a={{x.id}}"><b<button class="btn-link border-0 bg-transparent text-body"><span data-feather="trash-2" ></span></button> </a>
                        <!-- <button class="btn-link border-0 bg-transparent text-body" type="submit" onclick="delete_darea('{{x.id}}')"><span data-feather="trash-2" ></span></button> -->
                      </div>  
                    </td>
                    {% if perms.dot_app.delete_destination_area %}  
                    {% endif %}
                          
                          
                </tr>
              </tbody>
              {% endfor %}
            </table>
            <!-- <div class="p-4 border-top"><button type="submit" class="btn btn-primary d-inline-block">Primary Button</button> <button type="submit" class="btn btn-outline-primary border-2 d-inline-block">Secondary button</button></div> -->
      </div>   
     
  </main>
{% endblock %}  