{% extends "./base1.html" %}
{% block main %}
  <main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">     
                                        
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h4">Destination Area
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item">Destination Area</li>
          </ol>
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href="/dot/view_destinationarea/"><button type="button" class="btn btn-sm">Destination Area List</button></a>
          </div>
        </div>
      </div>
      <div class="card p-4 rounded-1 border-0 shadow">
        <h5 class="text-uppercase fw-bold mb-4 col-8">&nbsp;</h5>

        <form class="form-horizontal" method="POST" action="/dot/add_destination_area/" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <label for="inputcountry" class="form-label">Country</label>
              <select id="country" name="country" class="form-select" onchange="get_country()">
                <option value="0">Choose...</option>
                {% for x in country %}
                <option value="{{x.id}}">{{x.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="state" name="state" class="form-select">
                <option value="0">Choose...</option>
                {% for x in state %}
                <option value="{{x.id}}">{{x.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label for="destinationarea_type" class="form-label">Destination Area Type</label>
              <select id="destinationarea_type" name="destinationarea_type" class="form-select " multiple >
                
                {% for x in destarea_type %}
                <option value="{{x.id}}" aria-multiselectable="true">{{x.name}}</option>
                {% endfor %}
              </select><br>
            </div>
              <div class="col-md-4">
                <label for="title" class="form-label">Destination Area</label>
                <input type="text" class="form-control" name="destn_area" id="destn_area" required><br>
              </div>
              
              <div class="col-md-4">
                <label for="place" class="form-label">Place</label>
                <input type="text" class="form-control" name="place" id="place" required><br>
              </div>
              <div class="col-md-4">
                <label for="description" class="form-label">description</label>
                <input type="text" class="form-control" name="description" id="description" required><br>
              </div>
              <div class="col-md-4">
                <label for="lattitude" class="form-label">Lattitude</label>
                <input type="text" class="form-control" name="lattitude" id="lattitude" required><br>
              </div>
              <div class="col-md-4">
                <label for="longitude" class="form-label">Longitude</label>
                <input type="" class="form-control" name="longitude" id="longitude" required><br>
              </div>
              <div class="col-md-4">
                <label for="images" class="form-label">Choose Images</label><br>
                  <input type="file" class="form-control"  placeholder="" name="image" id="image" required>
                </div> 
              
              <div class="col-md-6">
                <label for="status" class="form-label">Status </label>
                <input type="checkbox" id="status" name="status" value="True">
                
              </div>
                 
            </div>
            
            <div class="col-12 mt-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
      </div>
      
    
  
    </main>
    </div>
    </div>
    <script>
    document.getElementById('output').innerHTML = location.search;
    $(".chosen-select").chosen();
  </script>

{% endblock %}