{% extends "./base1.html" %}
{% block main %}
  <main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">     
                                        
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h4">Edit hotel
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item">Edit hotel</li>
          </ol>
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href="/dot/viewhotels/"><button type="button" class="btn btn-sm">View hotel</button></a>
          </div>
        </div>
      </div>
      <div class="card p-4 rounded-1 border-0 shadow">
        <h5 class="text-uppercase fw-bold mb-4 col-8">&nbsp;</h5>

        <form class="form-horizontal" method="POST" action="/dot/viewhotels/" enctype="multipart/form-data">{% csrf_token %}
          {% for x in htl %}
          <div class="row">
              <div class="col-md-6">
                <label for="title" class="form-label">name</label>
                <input type="text" class="form-control" name="name" id="User" value="{{x.user.username}}" required>               
              </div>              
              <div class="col-md-6">
                <label for="contact_person">contact_person</label>
                <input type="text" class="form-control" name="contact_person" id="contact_person" value="{{x.contact_person}}" required><br>
              </div>
              <div class="col-md-6">
                <label for="contact_number">contact_number</label>
                <input type="text" class="form-control" name="phone" id="phone" value="{{x.phone}}" required><br>
              </div>
              <div class="col-md-6">
                <label for="address">address</label>
                <input type="text" class="form-control" name="address" id="address" value="{{x.address}}" required><br>
              </div>
              <div class="col-md-6">
                <label for="country">country</label>
                <input type="text" class="form-control" name="country" id="country" value="{{x.country}}" required><br>
              </div>
              <div class="col-md-6">
                <label for="state">state</label>
                <input type="text" class="form-control" name="state" id="state" value="{{x.state}}" required><br>
              </div>
              <div class="col-md-6">
                <label for="city">city</label>
                <input type="text" class="form-control" name="city" id="city" value="{{x.city}}" required><br>
              </div>
              <div class="col-md-6">
                <label for="hotel_type">hotel_type</label>
                <input type="text" class="form-control" name="hotel_type" id="hotel_type" value="{{x.types}}" required><br>
              </div>
              <div class="col-md-6">
                <label for="type">organization</label>
                <input type="text" class="form-control" name="organization" id="organization" value="{{x.organization.org_type}}" required><br>
              </div>
              <!-- <div class="col-md-6">
                <label for="status">Status </label>
                <input type="checkbox" id="status" name="status" value="True">
                
              </div> -->
                 
            <!-- </div> -->
            
        <div class="col-20 mt-8">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          {% endfor %}
        </div>
    </main>
    </div>
    </div>

{% endblock %}