{% extends "./base1.html" %}
{% block main %}

<main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">     
                                        
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
            <h1 class="h4">FAQ Category
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dot">Home</a></li>
                <li class="breadcrumb-item">FAQ Category</li>
              </ol>
            </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <a href="/dot/faqcategorylist"><button type="button" class="btn btn-sm">FAQ Category List</button></a>
              </div>
            </div>
          </div>
          <div class="card p-4 rounded-1 border-0 shadow">
            <h5 class="text-uppercase fw-bold mb-4 col-8">&nbsp;</h5>
            <div class="row" style="margin-left: .5rem;">

              <form class="form-horizontal" method="POST" action="/dot/savefaqcategory/" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" name="name" value="" id="name" required><br>
                    </div>
                    <div class="col-md-6">
                      <label for="description" class="form-label">Description</label>
                      <input type="text" class="form-control" name="description" value="" id="description" required><br>
                    </div>
                    <div class="col-md-6">
                        <label for="status">Status </label>
                        <input type="checkbox" id="status" name="status" value="False"> 
                    </div>
                    <div class="col-12 mt-4">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
          
            </div>
</main>
{% endblock %}  


