{% extends "./base1.html" %}
{% block main %}

<main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">     
                                        
          
          <div class="card p-3 rounded-1 border-0 shadow">
            
            <div class="row" style="margin-left: .5rem;">

                <section class="h-collections pt-5 mt-4 mb-3">
                <div class="container">
                  <div class="col-md-8 offset-md-2">
                    <h2 class="secondtxt text-uppercase mb-4 pb-2 inner-title"><span class="titleline bg-secondary d-inline-block position-relative me-2"></span>Your Account</h2>
                    </div>
                </div>
 
                  <div class="row mb-6 mt-5">
                    <div class="col-lg-9 profile-detail">
                      <h4 class="mt-4"><strong>Personal Information</strong></h4>
                      <div class="row mt-3">
                        {% for x in user %}
                        <div class="col-md-6 col-sm-6"><h5 class="fw-bold">UserName</h5>
                        {{ x.username }}</div>
                        <div class="col-md-6 col-sm-6"><h5 class="fw-bold">First Name</h5>
                            {{ x.first_name }}</div>
                        <div class="col-md-6 col-sm-6"><h5 class="fw-bold mt-3">Last Name</h5>
                        {{ x.last_name }}</div>
                        <div class="col-md-6 col-sm-6"><h5 class="fw-bold mt-3">Email Address</h5>
                        {{ x.email  }}</div>
                        <p class="mt-2 mb-4"><a href="#editpersonalinfo" data-bs-toggle="modal" data-bs-target="#editpersonalinfo" class="link-dark border-bottom border-primary">edit</a></p>
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="modal fade edit-popup" id="editpersonalinfo" tabindex="-1" aria-labelledby="editpersonalinfo" aria-hidden="">
            <div class="modal-dialog">
              <div class="modal-content p-4">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                {% for x in user %}
                <div class="modal-body">
                  <h3>Edit your personal information</h3>
                  <form class="mt-4" method="POST" action="/dot/updateprofile/" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="username" value="{{ x.username }}" required />
                        <label for="floatingInput">UserName</label>
                      </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="first_name" id="first_name" value="{{ x.first_name }}" required />
                      <label for="floatingInput">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="last_name" id="last_name" value="{{ x.last_name }}" required />
                      <label for="floatingInput">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="email" id="email" value="{{ x.email }}" disabled required />
                      <label for="floatingInput">Mail Address</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="pwd" id="pwd" />
                      <label for="floatingInput">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </form>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        
        



</main>
{% endblock %}  


